body {
  background-color: lightgrey;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  font-size: 50px;
  text-align: center;
  padding: 20px;
}
.characterWrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
#gameMessage {
  text-align: center;
  font-size: 10px;
}
#choose-enemy-button {
  visibility: hidden;
}
#restart-button {
  visibility: hidden;
}
#turn-counter {
  font-size: 150%;
}

.character {
  width: 200px;
  margin: 0px 40px 0px 40px;
  cursor: pointer;
  display: inline-block;
}

.character:hover {
  background-color: lightblue;
  border-radius: 10px;
}

.character img {
  border: 0 none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}
.character-name {
  text-align: center;
  text-transform: capitalize;
  line-height: 30px;
  font-size: 20px;
}
.character-health {
  text-align: center;
}

#arena {
  margin: 0 auto;
}

.attack {
  text-align: center;
}
.action {
  margin: 15px 0px;
}
#attack-button{
	visibility: hidden;
}
.btn {
	background: #000;
	color: #DBD2C6;	
}
.enemy {
	width: 153px;
	margin: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  background-color: darkblue;
}
#attacker {
	padding: 5px;
}

#opponent-roster {
  float: right;
}
#opponent-roster img {
	height: 100px;
}

#defender-name {
  text-align: center;
}
#defender-image {
  padding: 0px 16px;
  margin: 3px 0px;
}
#defender-health {
  text-align: center;
}

@media only screen and (max-device-width: 768px) {
  .character {
    display: block;
  height: 150px;    
  }
  #gameMessage {
  font-size: 12px;
  }
}
